<%= render :partial => 'video/header_content' %>

<h1 class='light'> Upload Your Movie
  <p>*Depending upon the size of the file and your internet connection, upload time may vary. </p>
</h1>
<ul class='select-buttons'>
<%= form_for @video, :url => videos_path(:action => 'create'), :html => {:multipart => true} do |f| %>
  <%= f.file_field :video %>
  <%= f.submit "Submit", :class => 'btn' %>
<% end %>
</ul>

