<div class="page-header" id="business">
  <h1><%= link_to "Business", business_path %> </h1>
</div>
<div class="row">
  <% cache("t", :expires_in => 15.minute) do  %>    
    <% $client.search("business", :result_type => "recent", :lang => "en").take(6).collect do |t| %>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3> <%= link_to(t.user.name, "http://twitter.com/" + t.user.screen_name) %> </h3> 
        <p> <%= html_link(t.text) %> </p>
      </div> 
    <% end %> 
  <% end %> 
</div>


