<div id="frontpage">
  <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
      <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
      <div class="item">
        <%= image_tag("carousel-1.png", :alt => "900x500") %>
        <div class= "carousel-caption">
          <h3>First Featured Article</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel-2.png", :alt => "900x500") %>
        <div class="carousel-caption">
          <h3>Second Featured Article</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="item">
        <%= image_tag("carousel-3.png", :alt => "900x500") %>
        <div class="carousel-caption">
          <h3>Third Featured Article</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
