<div class="page-header" id="international">
  <h1><%= link_to "International", international_path() %></h1>
</div>
<div class="row">
  <% cache("tw", :expires_in => 15.minute) do  %>    
    <% $client.search("international", :result_type => "recent", :lang => "en").take(6).collect do |tw| %>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3> <%= link_to(tw.user.name, "http://twitter.com/" + tw.user.screen_name) %> </h3> 
        <p> <%= html_link(tw.text) %> </p>
      </div> 
    <% end %> 
  <% end %> 
</div>



