<div class="page-header" id="local">
  <h1><%= link_to "Local", local_path() %></h1>
</div>
<div class="row">
 <% cache("twe", :expires_in => 15.minute) do  %>    
    <% $client.search("local", :result_type => "recent", :lang => "en").take(6).collect do |twe| %>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3> <%= link_to(twe.user.name, "http://twitter.com/" + twe.user.screen_name) %> </h3> 
        <p> <%= html_link(twe.text) %> </p>
      </div> 
    <% end %> 
  <% end %>  
</div>


