<div class="page-header" id="music">
  <h1><%= link_to "Music", music_path() %></h1>
</div>
<div class="row">
  <% cache("twee", :expires_in => 15.minute) do  %>    
    <% $client.search("music", :result_type => "recent", :lang => "en").take(6).collect do |twee| %>
      <div class="col-6 col-sm-6 col-lg-4">
        <h3> <%= link_to(twee.user.name, "http://twitter.com/" + twee.user.screen_name) %> </h3> 
        <p> <%= html_link(twee.text) %> </p>
      </div> 
    <% end %> 
  <% end %> 
</div>


