<div class="col-md-3">
  <%= render partial: "left_sidebar"%> 
</div>
<div class="col-md-9" style="top: 20px">
  <div class="page-header" style="margin-top:0px">
    <h1 style="margin-top:0px">Settings</h1>
  </div>
  <div class="row">
    <div class="container">
      <h3>Linked Accounts</h3> 
      <h3>Download the mobile app</h3>
    </div>
  </div> 
</div>




