<div id='static_same_main'>  
  <h1>
    <strong>User Settings</strong>
  </h1>
</div>

<div class='header-divider'>
</div>

<%= form_for :user do |f| %>

  <div class='light'>
    <div class='devise-fields'>
      <h4> Change Password </h4>
    </div> 
  </div>

  <div class='main-divider'></div>

  <div class='light'>
    <div class='devise-fields'>
      <h4> Change Email </h4>
    </div> 
  </div>

  <%= f.submit 'Save', :class => 'submit btn', :style => 'margin-left: 510px' %> 

<% end %>


