$form-grey: #f1f1f1
$error-red: #cc0000

=button
  +unstyled-link
  cursor: pointer
  border: 1px solid #ccc
  +border-radius(5px)
  +background(linear-gradient(color-stops(white, darken(white, 8))))
  text-shadow: white 0px 1px 0px
  font-size: 16px
  padding: 8px 10px
  margin: 0 10px
  -webkit-box-shadow: inset 0 1px 0 #eeeeee, white 0 1px 0
  -moz-box-shadow: inset 0 1px 0 #eeeeee, white 0 1px 0
  box-shadow: inset 0 1px 0 #eeeeee, white 0 1px 0  
  &:hover
    +background(linear-gradient(color-stops(darken(white,8), darken(white, 14))))
    color: black
  &:active 
    -webkit-box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1)
    -moz-box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1)
    box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1)


=unstyled-link
  text-decoration: none
  color: #333
  font-weight: bold

=input-base
  background-color: $form-grey
  border: 1px solid darken($form-grey, 10)
  padding: 10px

  &.file
    background-color: transparent
    padding: 0
    border: none
    -moz-box-shadow: none
    -webkit-box-shadow: none
    -o-box-shadow: none
    box-shadow: none

.btn
  +button 

// style used for non-header selection menus //

select 
  display: inline-block
  height: 34px
  padding: 4px
  font-size: 16px
  line-height: 18px
  color: #444
  border: 1px solid #CCC
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  margin: 10px 10px
  
.devise-fields
  //text-align: center
  list-style: none
  input[type="text"], input[type="email"], input[type="password"]
    +input-base
    width: 96%
    border: 1px solid #bbb
    background-color: white
    -moz-box-shadow: #eee 0 2px 5px
    -webkit-box-shadow: #eee 0 2px 5px
    -o-box-shadow: #eee 0 2px 5px
    box-shadow: #eee 0 2px 5px
    border-radius: 5px
    margin: 10px 0 
  input[type=submit]
    +button 
    margin: 10px 0
  input[type=file]
    margin: 0 0 10px 0
  //div
    width: 300px
    margin: 0 auto 1em
    display: block
    text-align: left
    &.buttons
      text-align: center
      margin-top: 20px
  li.actions
    padding-left: 60%
  #wysihtml5-textarea
    +input-base
    width: 96%
    border: 1px solid #bbb
    background-color: white
    -moz-box-shadow: #eee 0 2px 5px
    -webkit-box-shadow: #eee 0 2px 5px
    -o-box-shadow: #eee 0 2px 5px
    box-shadow: #eee 0 2px 5px
    +border-bottom-radius(5px)
    margin: 0 0 10px
    color: #bbb
    &:focus
      color: black 

.checkbox
  margin: 0 10px

form.formtastic
  .input .label
    width: 100%
    //margin: 10px 0
    padding-top: 0
  .input
    margin: 0
    padding: 0
  .actions
    padding-left: 89.1%

// WYSIHTML5 SASS //

#wysihtml5-editor-toolbar 
  position: relative
  margin-top: 10px
  .bottom-toolbar
    +border-radius(0)
    border-top: none
  .top-toolbar
    +border-bottom-radius(0) 
  header 
    display: block
    border-radius: 5px
    width: 99.7%
    height: 36px
    background: #eee
    position: relative
    //z-index: 1
    text-align: center
    background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%)
    background-image: -o-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%)
    background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%)
    background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%)
    background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%)
    box-shadow: #eeeeee 0 2px 5px
    border: 1px solid #bbbbbb 
    font-size: 0
    text-align: center
    .commands 
      border-left: 1px solid #ddd
      display: inline-block
      padding: 0
      [data-wysihtml5-command], [data-wysihtml5-action], .fore-color 
        position: relative
        border-right: 1px solid #ddd
        border-left: 1px solid #fff
        list-style: none
        font-size: 12px
        display: inline-block
        cursor: pointer
        height: 36px
        width: 68px
      [data-wysihtml5-command]::after, [data-wysihtml5-action]::after, .fore-color::after 
        content: ""
        background-image: url(/images/spr_toolbar_icons_r1.png)
        background-repeat: no-repeat
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
      [data-wysihtml5-command]:hover, [data-wysihtml5-action]:hover, .fore-color:hover 
        background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%)
        background-image: -o-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%)
        background-image: -moz-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%)
        background-image: -webkit-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%)
        background-image: -ms-linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%)
      [data-wysihtml5-command="bold"]::after 
        background-position: 24px center
      [data-wysihtml5-command="italic"]::after 
        background-position: -48px center
      [data-wysihtml5-command="insertUnorderedList"]::after 
        background-position: -115px center
      [data-wysihtml5-command="insertOrderedList"]::after 
        background-position: -197px center
      [data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after 
        background-position: -344px center
      [data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after
        background-position: -428px center
      [data-wysihtml5-command="createLink"]::after 
        background-position: -271px center
      [data-wysihtml5-command="insertImage"]::after 
        background-position: -513px center
      [data-wysihtml5-command="underline"]::after
        background-position: center
        background-image: url(/images/underline.png)
      .fore-color::after 
        background-position: -741px center
      [data-wysihtml5-command="insertSpeech"]::after 
        background-position: -596px center
      [data-wysihtml5-action="change_view"]::after 
        background-position: -670px center
      .fore-color ul 
        display: none
        position: absolute
        z-index: 2
        top: 36px
        right: -1px
        left: -2px
        border: 1px solid #ccc
        border-top: 0
        background: #fff
        overflow: hidden
      .fore-color li 
        display: block
        margin: 3px
        width: 63px
        border: 0
        height: 15px
        background-image: none
      .color-fix
        right: 40px
      .fore-color li::after 
        display: none
      .fore-color:hover ul 
        display: block
      .fore-color [data-wysihtml5-command-value="silver"] 
        background: silver !important
      .fore-color [data-wysihtml5-command-value="gray"] 
        background: gray !important
      .fore-color [data-wysihtml5-command-value="maroon"] 
        background: maroon !important
      .fore-color [data-wysihtml5-command-value="red"] 
        background: red !important
      .fore-color [data-wysihtml5-command-value="purple"]
        background: purple !important
      .fore-color [data-wysihtml5-command-value="green"] 
        background: green !important
      .fore-color [data-wysihtml5-command-value="olive"] 
        background: olive !important
      .fore-color [data-wysihtml5-command-value="navy"] 
        background: navy !important
      .fore-color [data-wysihtml5-command-value="blue"] 
        background: blue !important
      .fore-color .wysihtml5-command-active 
        outline: 1px solid #666
        outline-offset: 1px
    .wysihtml5-commands-disabled .fore-color ul 
      display: none
    .wysihtml5-action-active, .wysihtml5-command-active 
      box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2)
      background: #eee !important
    .wysihtml5-commands-disabled [data-wysihtml5-command], .wysihtml5-commands-disabled .fore-color 
      opacity: 0.4
      cursor: default
      background-image: none !important
  [data-wysihtml5-dialog] 
    color: #333
    font-size: 14px
    text-align: left
    border-radius: 0
    -ms-box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    border: 1px solid #ccc
    padding: 5px 10px
    background: #FFF
    position: absolute
    width: 67.7%
    text-align: center
    box-shadow: #eeeeee 0 2px 5px
    //top: 45px
  [data-wysihtml5-dialog] input 
    //color: #333
    //border: 1px solid #ccc
    padding: 3px
    width: 300px
  //[data-wysihtml5-dialog] input:focus 
    outline: 0
    border: 1px solid #666
  [data-wysihtml5-dialog-action] 
    padding: 5px 
    cursor: pointer
  [data-wysihtml5-dialog-action="save"] 
    color: #ffffff
    background-color: #749a74
    background-repeat: repeat-x
    +background-image(linear-gradient(#a4c9a4, #749a74))
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
    border-color: #a4c9a4 #a4c9a4 #516b51
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    +border-radius(5px)
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    //+transition(none 0.3s ease-in-out 0s)
    &:hover 
      +background(linear-gradient(color-stops(darken(#749a74,8), darken(#749a74, 8)))) 
  [data-wysihtml5-dialog-action="cancel"] 
    color: #ffffff
    background-color: #231f20
    background-repeat: repeat-x
    +background-image(linear-gradient(#555555, #231f20))
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
    border-color: #555555 #555555 #231f20
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
    +border-radius(5px)
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    //+transition(0.1s linear all)
    &:hover 
      +background(linear-gradient(color-stops(darken(#231f20,8), darken(#231f20, 8))))

// WYSIHTML5 Display SASS //

//section 
  position: absolute
  width: 810px
  top: 139px
  bottom: 0
  textarea 
    width: 100%
    background: transparent
    height: 100%
    border: 0
    resize: none
    white-space: pre
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    padding: 10px
    word-wrap: normal
    -ms-box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    textarea:focus 
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3)
      background: rgba(255, 255, 255, 0.4)
      outline: 0

.embedrf
  float: right 
  font-style: italic
  display: block
  font-size: 0.83em

.embed
  width: 555px
    


