$site-width: 1120px
$site-padding: 10px

=centered-on-page
  width: $site-width + ($site-padding * 2)
  margin: 0 auto
  padding: 0 $site-padding

body
  font-family: Helvetica, Arial, Verdana, sans-serif

  > header
    background-repeat: repeat-x
    +background(linear-gradient(#cdc673, #dbdb70))
    min-width: 1160px
    height: 50px
    .content
      +centered-on-page
      .logo-wrap
        width: 190px

        
    
