
body
  font-family: Helvetica, Arial, Verdana, sans-serif

  > header
    background-repeat: repeat-x
    +background(linear-gradient(#cdc673, #dbdb70))
    min-width: 1160px
    height: 50px
    .content
      align: center
      .logo-wrap
        width: 190px

        
    
