// setting width with variables for everything may seem like overkill but will be worth it in the end :)
$site-width: 1120px
$content-outer-width: 760px

$content-bg-padding: 25px
$content-inner-padding: 10px
$content-inner-width: $content-outer-width - (2*($content-bg-padding + $content-inner-padding))

$sidebar-padding: 10px
$sidebar-width: ($site-width - $content-outer-width)/2

// add some padding to sides so smaller browser windows
// still have a nice edge with space before content
$site-padding: 10px

$event-categories: 'home', 'movie', 'payments'

=centered-on-page
  width: $content-outer-width
  margin: 0 auto
  padding: 0 $site-padding
  // background-color: white


body
  font-family: Helvetica, Arial, Verdana, sans-serif
  background: #eee
  margin: 0

  > header
    background-repeat: repeat-x   
    min-width: 1160px
    height: 50px
    .content
      +centered-on-page 
      .logo-wrap
        float: left
        display: inline
        .logo
          background-image: url('/images/logo.png')
          display: block
          text-indent: -119988px
          overflow: hidden
          text-align: center
          background-repeat: no-repeat
          background-position: 50% 50%
          width: 450px
          height: 100px

        .profile-logo
          display: block  
          width: 215px
          height: 60px
          +replace-text('/images/profile_logo.png')

      .nav
        display: inline-block
        float: right

      .nav li
        display: block	
        list-style: none

      .nav .user-menu
        &:hover
                                    
      .nav .signin
        margin: 0

      .nav .signout
        display: block
        text-indent: -119988px
        overflow: hidden
        text-align: left
        background-image: url('/images/sign_out_icon.png')
        background-repeat: no-repeat
        background-position: 100% 10%
        height: 38px
        width: 38px
        float: right
        margin: 0 5px
        &:hover
          background-position: 100% 115%

      .nav .settings
        display: block
        text-indent: -119988px
        overflow: hidden
        text-align: left
        background-image: url('/images/settings_icon.png')
        background-repeat: no-repeat
        background-position: 100% 10%
        height: 38px
        width: 38px
        float: right
        margin: 0 5px
        &:hover
          background-position: 100% 115%
       
      .nav .help
        display: block
        text-indent: -119988px
        overflow: hidden
        text-align: left
        background-image: url('/images/help_icon.png')
        background-repeat: no-repeat
        background-position: 100% 10%
        height: 38px
        width: 38px
        float: right
        margin: 0 5px
        &:hover
          background-position: 100% 115%


      .nav .user-name
        padding: 9px 11px
        margin: 0 0 0 40px
        max-width: 65px 
        &:hover
          padding: 8px 10px
          +border-radius (5px)
          border: 1px solid #999
        &:active
          +background(linear-gradient(color-stops(darken(white, 14), darken(white, 20))))
          -webkit-box-shadow: inset 0 1px 0 #f0f0f0, #f0f0f0 0 1px 0
          -moz-box-shadow: inset 0 1px 0 #f0f0f0, #f0f0f0 0 1px 0
          box-shadow: inset 0 1px 0 #f0f0f0, #f0f0f0 0 1px 0 

      .nav a
        text-decoration: none
        color: #333
      
      .menu-dropdown, .dropdown-menu
        display: none
        //z-index: -100        
 
      .nav .user-img
       
      .nav a.user-link
        
      .user-menu:hover a, .user-menu:hover span
         
  > footer
    .content
      width: 100%
      overflow: hidden
      text-align: center
      margin: 0 auto
      nav 
        ul
          list-style: none
          padding-bottom: 10px 
          li
            font-weight: bold
            color: #333
            a
              color: #666
              text-decoration: none
              font-weight: normal
              margin: 0 10px
              &:hover
                color: #000
                text-decoration: underline 

#left-sidebar
  padding: $sidebar-padding
  width: 150px
  height: 500px 
  margin: 0
  float: left 
  ul.categories
    padding: 0 40px
    li
      font-size: 16px
      font-weight: bold
      margin-bottom: 30px 
      background-repeat: no-repeat
      list-style: none
      a
        text-decoration: none
        display: block
        width: 100%
        padding-top: 40px
        height: 30px  
        color: #666
        text-align: center
        background-position: 50% 0%
        background-repeat: no-repeat
        &:hover
          color: black
          background-position: 50% 118%
          background-repeat: no-repeat 
      a.active 
        color: black
        background-position: 50% 118%
      a.home
        background-image: url('/images/home_icon.png')
        max-height: 0
      a.movie
        background-image: url('/images/movie_icon.png')
        max-height: 0
      a.payments
        background-image: url('/images/payments_icon.png')
        max-height: 0  

#right-sidebar
  background: white
  +border-radius(5px)
  border: 1px solid #bbb
  margin: 0 10px 0 40px
  float: left
  min-width: 300px
  min-height: 300px
  ul.categories
    padding: 10px
    margin-top: 7px
    li
      font-size: 16px
      font-weight: bold
      margin-bottom: -1px 
      background-repeat: no-repeat
      list-style: none
      overflow: hidden
      //text-overflow: ellipsis
      white-space: nowrap
      max-width: 258px
      padding: 8px 0 
      a
        text-decoration: none
        color: #333333
        font-weight: bold
        cursor: pointer 
        padding: 8px 175px 8px 10px
    li.flat
      +border-radius(0)
    li.flat-top
      +border-top-right-radius(0)
      +border-top-left-radius(0)
    li.flat-bottom
      +border-bottom-right-radius(0)
      +border-bottom-left-radius(0)
    li.new-section
      margin-top: 20px


         
        
                                
    
