/*
 * application.sass
 *
 * Important! Do *not* use Sprockets "require" syntax.
 * Use @import to include other stylesheets and Compass mixins.
 */

// Include some nice mixins
@import compass
@import layout
@import root
@import forms

h1, h2, p
  margin: 10px 10px


header
  width: 100%
header div.content
  width: 94%
  
#content
  +centered-on-page 
  .logo-wrap
    width: 190px
    .homepage-logo
      background-image: url('/images/logo.png')
      display: block
      overflow: hidden 
      background-repeat: no-repeat
      background-position: 50% 50%
      width: 450px
      height: 100px
      margin: 0 0 410px 85px

.landing-form-field
  font-size: 16px
  +border-radius(5px)
  width: $form-width
  padding: 8px 10px
  margin: 10px  
  border: 1px solid #CCC
  -webkit-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
  -moz-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
  box-shadow: inset 0 1px 0 #EEE,white 0 1px 0 

.dropdown-form-field
  font-size: 16px
  +border-radius(5px)
  width: $form-width 
  padding: 8px 10px
  margin: 10px 0 
  border: 1px solid #CCC
  -webkit-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
  -moz-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
  box-shadow: inset 0 1px 0 #EEE,white 0 1px 0

#forgot_password
  text-decoration: none
  color: #333
  &:hover
    text-decoration: underline
    color: black

 

