/*
 * application.sass
 *
 * Important! Do *not* use Sprockets "require" syntax.
 * Use @import to include other stylesheets and Compass mixins.
 */

// Include some nice mixins
@import compass/css3
@import layout
@import root
@import forms

header
  width: 100%
header div.content
  width: 94%
  
#content
  +centered-on-page
  .logo-wrap
    width: 190px
    .homepage-logo
      background-image: url('/images/logo.png')
      display: block
      overflow: hidden 
      background-repeat: no-repeat
      background-position: 50% 50%
      width: 450px
      height: 100px
      margin: 0 0 410px 85px

