// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$content-width: 490px
$field-padding: 8px
$form-padding: 14px
$form-width: 250px

$splash-width: $content-width + $form-width + 6

body.root-controller
  background: #eee 
  background-image: -webkit-gradient(radial, center center, center center,color-stop(0%, #eee), color-stop(100%, #bbb))
  background-image: -webkit-radial-gradient(center center, circle cover, #eee, #bbb ) 
  background-image: -moz-radial-gradient(center center, circle cover, #eee, #bbb)  
  background-image: -ms-radial-gradient(center center, circle cover, #eee, #bbb)   
  background-image: -o-radial-gradient(center center, circle cover, #eee, #bbb)   
  background-image: radial-gradient(center center, circle cover, #eee, #bbb)  
  background-image: -khtml-gradient(radial, left top, left bottom, from(#eee), to(#bbb)) 
  background-repeat: repeat
  margin: auto
  
  .landing-form-field
    font-size: 16px
    +border-radius(5px)
    width: $form-width
    padding: 8px 10px
    margin: 10px 0 80px 10px
    border: 1px solid #CCC
    -webkit-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
    -moz-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
    box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
    color: #ccc
    &:focus
      color: black  
        
  .dropdown-form-field
    font-size: 16px
    +border-radius(5px)
    width: $form-width 
    padding: 8px 10px
    margin: 0 0 10px 0 
    border: 1px solid #CCC
    -webkit-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
    -moz-box-shadow: inset 0 1px 0 #EEE,white 0 1px 0
    box-shadow: inset 0 1px 0 #EEE,white 0 1px 0

  .signup
    padding: 0 10px
    margin: auto 204px

  #content
    +centered-on-page 
    .logo-wrap
      width: 190px
      .homepage-logo
        background-image: url('/images/logo.png')
        display: block
        overflow: hidden 
        background-repeat: no-repeat
        background-position: 50% 50%
        width: 450px
        height: 100px
        margin: 0 0 74px 85px

#forgot_password
  text-decoration: none
  color: #666
  float: right
  margin: 9px 0 0 0
  &:hover
    text-decoration: underline
    color: black

#intro
  margin: 0 224px 74px 224px
  height: 259px
  .video
    border: 1px solid #fff
    width: 461px
    height: 259px
    box-shadow: #999 0 2px 5px
    float: left
  .text
    float: right
    width: 467px
    margin-top: -6px
    a
      color: #666666
      text-decoration: none
      font-weight: normal
      &:hover
        text-decoration: underline
        color: black
    ul
      padding: 0
      li
        list-style: none
        padding-left: 40px
      .homepage1 
        background-image: url('/images/homepage1.png')
        background-repeat: no-repeat
        background-position: -0.5% 105%
      .homepage2
        background-image: url('/images/homepage2.png')
        background-repeat: no-repeat
        background-position: -0.5% 105%
    .m0
      margin: 0

#static
  min-width: 1025px
  margin: 0 10px

#static_same_main
  margin: 0 10px
 

 
  
