// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.root-controller
  background-color: #333
  background-repeat: no-repeat
  margin: 0 auto

  #content
    +background(radial-gradient(#b8b8b8, #ededed))
