<nav>
<ul>
  <li>
    &copy; Theatr, Inc
    <%= link_to 'Home', root_path %>
    <%= link_to 'How It Works', static_path(:how_it_works) %>
    <%= link_to 'About', static_path(:about) %> 
  </li>
  </ul>
</nav>


