<% if user_signed_in? %>
  <%
    if params[:controller] == 'home'
      active_tab = 'home' 
    end
  -%>
  
  <%
    if params[:controller] == 'video'
      active_tab = 'movie' 
    end
  -%>

  <%
    if params[:controller] == 'payments'
      active_tab = 'payments' 
    end
  -%>
<nav>  
  <ul class='categories'>  
    <li>
      <% class_names = active_tab == 'home' ? 'home active arrow_box' : 'home' %>
      <%= link_to 'Home', home_path, :class => class_names or 'home' %>
    </li>
    <li>
      <% class_names = active_tab == 'movie' ? 'movie active arrow_box movie_arrow' : 'movie' %>
      <%= link_to 'Movie', videos_path, :class => class_names or 'movie' %>  
    </li>
    <li>
      <% class_names = active_tab == 'payments' ? 'payments active arrow_box payments_arrow' : 'payments' %>
      <%= link_to 'Payments', payments_path, :class => class_names or 'payments' %> 
    </li>
  </ul>
</nav>

<% end %>
